body {
  background-color: black;
}
#canvas {
  background-color: green;
  width: 700px;
  height: 600px;
  float: left;
  margin: 10px;
}

#sideBarContainer{
  width: 525px;
  height: 300px;
  background-color: lightblue;
  margin-top: 13px;
  float: right;
}

#title {
  font-size: 75px;
}

#daisyPic {
  height: 100px;
  width: 150px;
}

#titleFlexBox {
  height: 100px;
  border: 1px solid black;
  background-color: darkgray;
  margin: 20px;
}

.btn {
  font-family:'Courgette', cursive;
  font-size: 30px;
}
