body {
  background-color: black;
  margin: 30px;
}

/*TITLE*/

#titleFlexBox {
  height: 100px;
  background-color: black;
  margin: 0;
}

#title {
  font-size: 100px;
  color: gold;
  font-family:'Covered By Your Grace', cursive;

}


/*SIDEBAR*/

#sideBarContainer{
  width: 525px;
  height: 600px;
  background-color: black;
  margin-top: 13px;
  float: right;
}

#sideBarHeader {
  margin: 10px;
  font-size: 20px;
  text-align: center;
  font-family: cursive;
}

#daisyPic {
  height: 100px;
  width: 150px;
}


#templates .card{
  display: inline-block;
  margin-left: 5px;
}

#accessories .card{
  display: inline-block;
}

#dresses .card{
  display: inline-block;
  margin-left: 5px;
}

#tops .card{
  display: inline-block;
}

#bottoms .card {
  display: inline-block;
}


.btn {
  font-family:'Covered By Your Grace', cursive;
  font-size: 30px;
  background-color: green;
  border-radius: 35px;
}

.card {
  background-color: teal;
  border: 2px solid black;
}

.imageSelector {
  width: 100px;
  height: 130px;
  margin: 2px;
}


/*CANVAS*/

#canvas {
  background-color: white;
  /*width: 700px;
  height: 700px;*/
  float: left;
  margin-top: 13px;
  padding-left: 10px;
}
