body {
  background-color: black;
  margin: 30px;
}

/*TITLE*/

#titleFlexBox {
  height: 100px;
  background-color: black;
  margin: 0;
}

/*.titleContent{
  text-align: center;
}*/

#title {
  font-size: 100px;
  color: gold;
  font-family:'Covered By Your Grace', cursive;

}


/*SIDEBAR*/

#sideBarContainer{
  width: 525px;
  height: 600px;
  background-color: black;
  margin-top: 13px;
  float: right;
}

#sideBarHeader {
  margin: 10px;
  font-size: 20px;
  text-align: center;
  font-family: cursive;
}

#daisyPic {
  height: 100px;
  width: 150px;
}

#humanImage {
  width: 60px;
  height: 100px;
}


.btn {
  font-family:'Covered By Your Grace', cursive;
  font-size: 30px;
  background-color: green;
  border-radius: 35px;
}

.card {
  background-color: teal;
  border: 2px solid black;
}

.templateContentDiv{
  float:left;
}

/*CANVAS*/

#canvas {
  background-color: white;
  width: 570px;
  height: 700px;
  float: left;
  margin-top: 13px;
}
